/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  width: 100vh;
}

.gallery {
  display: flex;
}

.gallery:hover {
  cursor: all-scroll;
}

.thumb {
  display: flex;
  margin: 8px;
  flex-shrink: 0;
  flex-grow: 1;
}
